* {
  margin: 0;
  padding: 0;
}
body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body* {
  font-family: "inter", sans-serif;
  color: aliceblue;
}
#container {
  width: 300px;
  border: 1px solid red;
  margin: 0 auto;
}
#profile {
  text-align: center;
}
#profile img {
  font-weight: 500;
  line-height: 24px;
}
#instagram {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}
